.table-responsive {
    overflow-x: auto;
    /* Makes the table scrollable on small screens */
    -webkit-overflow-scrolling: touch;
    /* Smooth scrolling on iOS */
}


.turf-img {
    width: 80px;  /* Increase width */
    height: 80px; /* Increase height */
    border-radius: 8px; /* Optional: Rounded corners */
    object-fit: cover; /* Ensure image scales properly */
    transition: transform 0.3s ease-in-out; /* Smooth hover effect */
  }
  
  /* Optional: Hover effect */
  .turf-img:hover {
    transform: scale(1.1); /* Slight zoom on hover */
  }
  