<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4">
          <h5 class="text-uppercase">About Us</h5>
          <p>
            Your company description goes here. You can provide a brief overview of your services or mission.
          </p>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="text-uppercase">Links</h5>
          <ul class="list-unstyled">
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="text-uppercase">Follow Us</h5>
          <div class="social-icons">
            <a href="#" aria-label="Facebook" class="social-icon"><i class="fab fa-facebook-f"></i></a>
            <a href="#" aria-label="Twitter" class="social-icon"><i class="fab fa-twitter"></i></a>
            <a href="#" aria-label="LinkedIn" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
            <a href="#" aria-label="Instagram" class="social-icon"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="text-center p-3">
        <p>&copy; 2025 Your Company. All rights reserved.</p>
      </div>
    </div>
  </footer>
  