<body>
    <div class="login-container">
      <form #loginForm="ngForm" (ngSubmit)="submitForm(loginForm)" class="login-form">
        <h2 class="form-title">Login</h2>
  
        <div class="form-group">
          <input 
            type="text" 
            name="username" 
            [(ngModel)]="username" 
            class="form-input" 
            placeholder="Username" 
            required
          >
        </div>
  
        <div class="form-group">
          <input 
            type="password" 
            name="password" 
            [(ngModel)]="password" 
            class="form-input" 
            placeholder="Password" 
            required
          >
        </div>
  
        <div class="form-actions">
          <input 
            type="submit" 
            class="form-button" 
            value="Submit" 
            [disabled]="!loginForm.valid"
          >
          <input 
            type="reset" 
            class="form-button reset" 
            value="Reset"
          >
        </div>
      </form>
    </div>
  </body>
  