@import "tailwindcss";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


input.ng-invalid {
    border: 1px solid red !important;
}

/* Target the scrollbar itself */
::-webkit-scrollbar {
    width: 10px;
    /* Set width for vertical scrollbar */
    height: 10px;
    /* Set height for horizontal scrollbar */
}

/* Style the track (the area the scrollbar moves within) */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

/* Style the thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background-color: #52b788;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
    /* Optional border for thumb */
}

/* Style when the thumb is hovered */
::-webkit-scrollbar-thumb:hover {
    background-color: #2d6a4f;
}

/* Optional: Style the corner when both vertical and horizontal scrollbars are visible */
::-webkit-scrollbar-corner {
    background-color: #f1f1f1;
}